<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chat.Properties.Settings>
            <setting name="Background" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="TheirForeground" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="MyForeground" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CWSoundOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CWFlashOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DFBackground" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="DFTheirForeground" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DFMyForeground" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DFCWSoundOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DFCWFlashOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DFaunchAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CWLogOn" serializeAs="String">
                <value>True</value>
            </setting>
        </Chat.Properties.Settings>
    </userSettings>
</configuration>